<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>You are awesome</string>
	<string>Keep going friend</string>
	<string>I&apos;m laways happy when i see you</string>
	<string>You are my role model</string>
	<string>I&apos;m happy to be your friend</string>
	<string>Is there something you can&apos;t do?</string>
	<string>The best part of my day is when you open the app</string>
	<string>Remember to drink water!</string>
	<string>Have an amazing day</string>
	<string>Thanks for being my friend</string>
</array>
</plist>
